[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/mmfm
Name=Multimedia File Manager
Comment=mmfm
Icon=/usr/local/share/mmfm/mmfm.png