.fullscale {
    height: 100%;
    width: 100%;
}

.colflex {
    display: flex;
    flex-direction: column;
 }

.rowflex {
    display: flex;
    flex-direction: row;
 }

.marginr2 {
    margin-right: 2px;
}

.tablehead {
    height: 20px;
    width: 100%;
    background-color: #121212FF;
    overflow: hidden;
}

.tableback {
    font-size: 60px;
    font-family: "Terminus (TTF):style=Bold";
    color: #353535FF;
    background-color: #222222FF;
    text-align: center;
    overflow: hidden;
}

.vertscroll {
    width: 10px;
    height: 100px;
    right: 0px;
    background-color: #ACACAC66;
}

.horiscroll {
    width: 100px;
    height: 10px;
    bottom: 0px;
    background-color: #ACACAC66;
}

.hgap5 {
    width: 5px;
}

.toolbox {
    background-color: #454545FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

.toolbtn {
    width: 30px;
    height: 30px;
}

.ctrlbtn {
    width: 28px;
    height: 28px;
}

.acceptbtn {
    margin: auto;
    bottom: 5px;
    width: 30px;
    height: 30px;
}

.closebtn {
    margin: auto;
    top: 5px;
    width: 30px;
    height: 30px;
}

.font16center {
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

.font16left {
    font-size: 16px;
    text-align: left;
    font-family: "Terminus (TTF):style=Bold";
}

.infotf {
    blocks: no;
    color: #DEDEDEFF;
}

.settingstable {
    margin-top: 40px;
    margin-bottom: 40px;
}

.popupcontainer {
    align-items: center;
}

.popupshadow {
    border-radius: 15px;
    background-color: #151515FF;
    box-shadow: 40px #FFFFFF22;
}

.popuptable {
    margin-top: 20px;
    margin-bottom: 20px;
}

.popuptablebody {
    color: #FF0000FF;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 28px;
    background-color: #232323FF;
    border-radius: 5px;
}

.sliderbar {
    width: 100%;
    height: 28px;
    background-color: #556655FF;
    border-radius: 5px;
}

.rowtext {
    color: #DEDEDEFF;
    font-size: 16px;
    font-family: "Terminus (TTF):style=Bold";
}

.rowa {
    line-height: 25px;
    margin-left: 10px;
    width: 100%;
    height: 30px;
    background-color: #222222FF;
}

.rowb {
    line-height: 25px;
    margin-left: 10px;
    top: 30px;
    width: 100%;
    height: 30px;
    background-color: #252525FF;
}

.rowselected {
    margin-left: 10px;
    top: 60px;
    width: 100%;
    height: 30px;
    line-height: 25px;
    background-color: #004400FF;
}

.head {
    height: 20px;
    width: 100%;
    margin-left: 10px;
    line-height: 20px;
    color: #DEDEDEFF;
    background-color: #121212FF;
}

.ctxrowa {
    margin-left: 20px;
    width: 100%;
    height: 30px;
    line-height: 35px;
    background-color: #222222FF;
}

.ctxrowb {
    margin-left: 20px;
    top: 30px;
    width: 100%;
    height: 30px;
    line-height: 35px;
    background-color: #252525FF;
}

.ctxrowselected {
    margin-left: 20px;
    top: 60px;
    width: 100%;
    height: 30px;
    line-height: 35px;
    background-color: #004400FF;
}

.setrowa {
    margin-left: 20px;
    width: 100%;
    height: 30px;
    line-height: 35px;
    text-align: center;
    background-color: #222222FF;
}

.setrowb {
    margin-left: 20px;
    top: 30px;
    width: 100%;
    height: 30px;
    line-height: 35px;
    color: #DEDEDEFF;
    text-align: center;
    background-color: #252525FF;
}

.setrowselected {
    margin-left: 20px;
    top: 60px;
    width: 100%;
    height: 30px;
    line-height: 35px;
    text-align: center;
    background-color: #004400FF;
}

#main_top {
    width: 100%;
    height: 34px;
}

#header {
    background-color: #343434FF;
    width: 100%;
    height: 34px;
}

#headerflex {
    width: 100%;
    height: 30px;
    top: 4px;
}

#path {
    background-color: #343434FF;
    width: 100%;
    height: 35px;
}

#pathflex {
    top: 4px;
    width: 100%;
    height: 28px;
}

#ctrl {
    background-color: #343434FF;
    width: 100%;
    height: 35px;
}

#cntrlflex {
    top: 4px;
    width: 100%;
    height: 100%;
}

.closeicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

.accepticon {
    width: 30px;
    height: 30px;
    background-image: url("accept.png");
    blocks: no;
}

#previcon {
    width: 28px;
    height: 28px;
    background-image: url("prev.png");
    blocks: no;
}

#nexticon {
    width: 28px;
    height: 28px;
    background-image: url("next.png");
    blocks: no;
}

#playicon {
    width: 28px;
    height: 28px;
    background-image: url("play.png");
    blocks: no;
}

#pauseicon {
    width: 28px;
    height: 28px;
    background-image: url("pause.png");
    blocks: no;
}

#maxicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#settingsicon {
    width: 30px;
    height: 30px;
    background-image: url("settings.png");
    blocks: no;
}

#sidebaricon {
    width: 30px;
    height: 30px;
    background-image: url("sidebar.png");
    blocks: no;
}

#clipboardicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#plusicon {
    width: 28px;
    height: 28px;
    background-image: url("plus.png");
    blocks: no;
}

#minusicon {
    width: 28px;
    height: 28px;
    background-image: url("minus.png");
    blocks: no;
}

#settingspopup {
    width: 500px;
    height: 280px;
    margin: auto;
}

#contextpopup {
    width: 200px;
    height: 250px;
    margin: auto;
}

#okaypopup {
    width: 400px;
    height: 150px;
    margin: auto;
}

#inputbck {
    width: 500px;
    height: 30px;
    background-color: #DEDEDEFF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#inputarea {
    background-color: #00000033;
}

#inputtf {
    blocks: no;
    color: #232323FF;
}

#pathtf {
    blocks: no;
    color: #FFFFFFFF;
}

.closeiconblack {
    width: 30px;
    height: 30px;
    background-image: url("closeblack.png");
    blocks: no;
}

.upicon {
    width: 30px;
    height: 30px;
    background-image: url("up.png");
    blocks: no;
}
