.fullscaleview {
    height: 100%;
    width: 100%;
}

.black {
    background-color: #000000FF;
}

.colflex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.rowflex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.textaligncenter {
    text-align: center;
}

#main_top {
    height: 38px;
    width: 100%;
}

.tablehead {
    height: 20px;
    width: 100%;
    background-color: #252525FF;
}

.tablebody {
    line-height: 25px;
    color: #DEDEDEFF;
    font-size: 16px;
    font-family: "Terminus (TTF):style=Bold";
}

.vertscroll {
    width: 10px;
    height: 100px;
    right: 0px;
    background-color: #ACACAC66;
}

.horiscroll {
    width: 100px;
    height: 10px;
    bottom: 0px;
    background-color: #ACACAC66;
}

.vertgap5 {
    height: 5px;
    width: 100%;
    background-color: #151515FF;
}
.horgap5 {
    height: 100%;
    width: 5px;
    background-color: #151515FF;
}

.gap {
    width: 5px;
}

.overflowhidden {
    overflow: hidden;
}

#headerbck {
    background-color: #343434FF;
    width: 100%;
    height: 38px;
}

#toolbar {
    width: 100%;
    height: 30px;
    margin: auto;
    top: 4px;
    display: flex;
    flex-direction: row;
}

.toolbtn {
    background-color: #454545FF;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

.closeicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

#previcon {
    width: 30px;
    height: 30px;
    background-image: url("prev.png");
    blocks: no;
}

#nexticon {
    width: 30px;
    height: 30px;
    background-image: url("next.png");
    blocks: no;
}

#playicon {
    width: 30px;
    height: 30px;
    background-image: url("play.png");
    blocks: no;
}

#pauseicon {
    width: 30px;
    height: 30px;
    background-image: url("pause.png");
    blocks: no;
}

#maxicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#settingsicon {
    width: 30px;
    height: 30px;
    background-image: url("settings.png");
    blocks: no;
}

#sidebaricon {
    width: 30px;
    height: 30px;
    background-image: url("sidebar.png");
    blocks: no;
}

#clipboardicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#propertiesicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

.infobck {
    width: 100%;
    height: 30px;
    background-color: #454545FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

.infotf {
    width: 100%;
    height: 100%;
    blocks: no;
    color: #DEDEDEFF;
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

.dragger {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #00000099;
}

.popupshadow {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #151515FF;
    box-shadow: 40px #FFFFFF22;
 }

.popupcontainer {
    align-items: center;
}

#settingspopup {
    width: 520px;
    height: 280px;
    margin: auto;
}

.closebtn {
    margin: auto;
    top: 5px;
    width: 30px;
    height: 30px;
}

#settingslist {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 40px;
    background-color: #151515FF;
}
